<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloudstrype.io - Multicloud storage</title>

    <!-- Bootstrap Core CSS -->
{% block headscript %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

    <!-- Custom CSS -->
{% block css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      // tracker methods like "setCustomDimension" should be called before "trackPageView"
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//m.timby.com/p/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
    //<![CDATA[
    var owa_baseUrl = 'http://m.timby.com/o/';
    var owa_cmds = owa_cmds || [];
    owa_cmds.push(['setSiteId', '5106cfa202326efcee78e0a9c2f602e9']);
    owa_cmds.push(['trackPageView']);
    owa_cmds.push(['trackClicks']);
    owa_cmds.push(['trackDomStream']);

    (function() {
            var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
            owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
            _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
            var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
    }());
    //]]>
    </script>
    <!-- End Open Web Analytics Code -->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/img/placeholder-150x50.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login/">Login</a>
                    </li>
                    <li>
                        <a href="/start/">Get Started</a>
                    </li>
                    <li>
                        <a href="/products/">Products</a>
                    </li>
                    <li>
                        <a href="/help/">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
{% block main %}
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/static/img/placeholder-900x350.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Cloudstrype.io</h1>
                <p>Ever wish you could combine all your free cloud storage accounts into <b>ONE LARGE FREE CLOUD STORAGE ACCOUNT</b>? Now you can. Cloudstrype.io spreads (a.k.a. stripes) your files across many free clouds and gives you access from one convenient location.</p>
                <a class="btn btn-primary btn-lg" href="/start/">Get Started</a>
                <a class="btn btn-primary btn-lg" href="/login/">Login</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Would you like to access unused harddrive space from anywhere? <a href="/products/">Learn more</a>.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Free</h2>
                <p>Outgrown your free cloud storage account? Upgrade for free with Cloudstrype.io.</p>
                <p>It costs nothing to use Cloudstrype.io or the <a href="/start/">supported clouds</a>.</p>
                <a class="btn btn-default" href="/start/">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Convenient</h2>
                <p>Your files are stored in multiple clouds, but accessed using Cloudstrype.io.</p>
                <p>Use our mobile music player (available in the <a href="https://play.google.com/">Google Play Store</a>) to stream your collection from anywhere.</p>
                <a class="btn btn-default" href="/how/">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Secure</h2>
                <p>Cloudstrype.io encrypts your files automatically before storing them in the cloud.</p>
                <p>Industry standard SSL/TLS is used to protect files as they are being transferred.</p>
                <a class="btn btn-default" href="/how/">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
{% endblock %}
{% block footer %}

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        &copy; 2017 Cloudstrype Technologies&nbsp;&nbsp;&nbsp;
                        <a href="https://github.com/btimby/cloudstrype/{% if CLOUDSTRYPE_VERSION != 'development' %}tree/{{ CLOUDSTRYPE_VERSION }}{% endif %}" target="_new" title="{{ CLOUDSTRYPE_VERSION }}">Github</a>&nbsp;&nbsp;&nbsp;
                        <a href="/api/" title="API Documentation">API</a>&nbsp;&nbsp;&nbsp;
                        <a href="https://status.cloudstrype.io/" target="_new" title="Monitoring">System status</a>&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </footer>
{% endblock %}
    </div>
    <!-- /.container -->

{% block footscript %}
    <script src="https://cdn.ravenjs.com/3.12.0/raven.min.js"></script>
    <script type="text/javascript">
    //<![CDATA[
    Raven.config('https://27bf17d2a54c4e158495a2f08ed16a14@sentry.io/143375').install()
    //]]>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
{% endblock %}
</body>

</html>
