{% extends "ui/index.html" %}

{% block main %}
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Click a logo or Login button to signup or log in to CloudStrype.io using your account.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/google/"><img src="/static/img/logos/google-drive.png"/></a>
                <a class="btn btn-default" href="/main/login/google/">Login</a>
                <a class="btn btn-default" href="https://gsuite.google.com/products/drive/" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/onedrive/"><img src="/static/img/logos/onedrive.png"/></a>
                <a class="btn btn-default" href="/main/login/onedrive/">Login</a>
                <a class="btn btn-default" href="https://onedrive.live.com/about/en-us/" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/smartfile/"><img src="/static/img/logos/smartfile.png"/></a>
                <a class="btn btn-default" href="/main/login/smartfile/">Login</a>
                <a class="btn btn-default" href="https://www.smartfile.com/" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/dropbox/"><img src="/static/img/logos/dropbox.png"/></a>
                <a class="btn btn-default" href="/main/login/dropbox/">Login</a>
                <a class="btn btn-default" href="https://www.dropbox.com/" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/amazon/"><img src="/static/img/logos/amazon-s3.png"/></a>
                <a class="btn btn-default" href="/main/login/amazon/">Login</a>
                <a class="btn btn-default" href="https://aws.amazon.com/free/" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/box/"><img src="/static/img/logos/box.png"/></a>
                <a class="btn btn-default" href="/main/login/box/">Login</a>
                <a class="btn btn-default" href="https://account.box.com/signup/n/personal" target="_blank">Signup</a>
            </div>
            <!-- /.col-md-2 -->
        </div>
        <!-- /.row -->

        <hr/>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Don't have an account? Sign up for one of the above services to continue.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
{% endblock %}
