{% extends "ui/index.html" %}

{% block main %}
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Click a logo below to start a new account.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/google/"><img src="/static/img/logos/google-drive-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/onedrive/"><img src="/static/img/logos/onedrive-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/smartfile/"><img src="/static/img/logos/smartfile-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/dropbox/"><img src="/static/img/logos/dropbox-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/amazon/"><img src="/static/img/logos/amazon-s3-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-2">
                <a href="/main/login/box/"><img src="/static/img/logos/box-128x128.png"/></a>
            </div>
            <!-- /.col-md-2 -->
        </div>
        <!-- /.row -->

        <hr/>
{% endblock %}
